@import '../../variables.scss';

.signupForm {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;

   &__emailInput,
   &__submit {
      width: 100%;
      padding: clamp(0.8rem, 4vw, 1.2rem) 1rem;
      border-radius: 10px;
      font-size: clamp(0.7rem, 4vw, 1rem);
   }

   &__emailInput {
      border: 1px solid $grey;
      outline: none;
      
      &--invalid {
         border: 1px solid $tomato;
         background-color: #ff62574e;
         color: $tomato;

         &::placeholder {
            color: tomato;
         }
      }
   }

   &__submit {
      margin-top: 1rem;
      border: none;
      background-color: $dark-slate-grey;
      color: #fff;
      transition: 0.3s;

      &:hover {
         background: linear-gradient(90deg, rgba(255, 82, 123, 1) 0%, rgba(255, 106, 58, 1) 100%);
         box-shadow: 1px 16px 48px -4px $tomato;
         cursor: pointer;
      }
   }

   &__emailLabel {
      margin-bottom: 0.5rem;
      font-weight: 700;
      display: flex;
   }

   &__invalidMessage {
      position: absolute;
      right: 0;
      color: $tomato;
      font-weight: 700;
      animation: messageAnimation 0.15s 2;

      @keyframes messageAnimation {
         50% {
            transform: translateX(-5px);
         }
         100% {
            transform: translateX(5px);
         }
      }
   }
}
