@import './variables.scss';

.app {
   background-color: #fff;
   box-shadow: 0px 0px 57px -6px rgba(0, 0, 0, 1);
   border-radius: 2rem;
   display: flex;
   padding: clamp(1rem, 2vw, 2rem);
   color: $dark-slate-grey;
   justify-content: space-between;
   width: clamp(100px, 60vw, 1000px);

   &--success {
      width: clamp(300px, 40vw, 500px);
   }

   @media (max-width: $mobile) {
      gap: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 100vh;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      border-radius: 0;
      padding: 0 0 3rem 0;
   }

   .mainImgContainer {
      width: clamp(300px, 40%, 400px);
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: $mobile) {
         width: 100%;
      }
      img {
         width: 100%;
      }
   }
}
